                    /* Add a black background color to the top navigation */
                    
                    .topnav {
                        background-color: #333;
                        overflow: hidden;
                    }
                    /* Style the links inside the navigation bar */
                    
                    .topnav a {
                        float: left;
                        color: #f2f2f2;
                        text-align: center;
                        padding: 14px 16px;
                        text-decoration: none;
                        font-size: 30px;
                    }
                    /* Change the color of links on hover */
                    
                    .topnav a:hover {
                        background-color: rgb(240, 223, 75);
                        color: black;
                    }
                    /* Add a color to the active/current link */
                    
                    .topnav a.active {
                        background-color: #300c58;
                        color: white;
                    }
                    
                    body {
                       background-image: url('https://images.unsplash.com/photo-1554050857-c84a8abdb5e2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80') no-repeat; 
                        background-attachment: fixed;
                        background-size: cover;
                        color: #e2a0ff;
                        text-align: center;
                      font-size: 22px;
                      font-style: bold;
                    }
                    
                   h1,
                    h2,
                    h3 {
                        font-family: "Times New Roman", Times, serif;
                        color: hotpink;
                        font-size: 30px;
                        font-style: bold;
                    }
                    /*Pseudo-classes*/
                    /* unvisited link */
                    
                    a:link {
                        color: affc41;
                    }
                    /* visited link */
                    
                    a:visited {
                        color: rgb(22, 135, 211);
                    }
                    /* mouse over link */
                    
                    a:hover {
                        color: hotpink;
                    }
                    /* selected link */
                    
                    a:active {
                        color: blue;
                    }
                    
                    .button {
                        float: center;
                        border: 1px solid rgb(33, 4, 59);
                        background-color: #4f0561;
                        color: white;
                    }
                    
                    hr {
                        border: none;
                        border-top: 3px double #333;
                        color: #333;
                        overflow: visible;
                        text-align: center;
                        height: 5px;
                    }
